@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

.App {
  margin: 0 auto;
  max-width: 90%;
}

.phone-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
  background: black;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.phone-antenna {
  background: black;
  height: 80px;
  width: 30px;
  margin: auto 0;
  position: absolute;
  right: 0px;
  top: -60px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.phone-container__screen {
  background: greenyellow;
  min-height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1rem;
}

.phone-container__keyboard {
  background: gainsboro;
  padding: 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.phone-container__keyboard__grid {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 300px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.phone-container__screen_predictions {
  overflow: scroll;
  max-height: 150px;
  line-height: 1rem;
}

.phone-container__screen_user-input {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Quantico", sans-serif;
}

.phone-container__screen_predictions_prediction {
  border: 1px solid purple;
  border-radius: 30px;
  background: gold;
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
}

.phone-button {
  cursor: pointer;
  /* box-shadow: 2px 1px 2px gray; */
}

.phone-button:active {
  box-shadow: 0 0 0 white;
  transform: scale(0.96);
}
